/* background for whole page */
body {
  background-color: #292929;
}

.top_container {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.site_title {
    color: white;
    font-size: 100px;
    font-family: Roboto
    margin-top: 0px;
}

.site_description {
    color: white;
    font-size: 50px;
    margin-bottom: 25px;
}

.create_quiz {
    position: relative;
    z-index: 4;
    background-color: #61bf8a;
    background-color: #2d9058;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

.create_quiz:hover {
    background-color: #2d9058;
    color: white;
    border: 2px solid white;
}

.create_quiz:focus {
    background-color: white;
    color: black;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
}

.card {
    background-color: #232323;
    text-align: center;
    padding-bottom: 20px;
    border: 3px solid white;
    border-radius: 33px;
    text-decoration:none;
    z-index: 100;
    box-shadow: 7px 7px 20px black;
}

.card:hover {
    background-color: #1a1a1a;
    cursor: pointer;
    border: 3px solid #61bf8a;
}

/* Styles submit button when clicked */
.card:focus {
    background-color: 1a1a1a;
    color: black;
    cursor: pointer;
    border: 10px solid white;
    border-radius: 40px;

}



.quiz_title {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    background-color: #3b3b3b;
    margin-top: 0px;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.num_questions {
    color: white;
    font-family: Roboto;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}



/* -------------------- */
/* Floating Blocks Styling Below */

*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: fixed;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;
    background-image: linear-gradient(to top, #292929 20%, #212121 80%);
    width: 100%;
    height:100vh;
    z-index: 0;

}

.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.circles li{
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 1;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
