/* background for whole page */
body {
  background-color: #181818;
}

/* Centers question and answers and adds outline */
.full_container {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #232323;
    border-radius: 60px;
    border: 10px solid #fff;
    margin-top: 40px;
    padding-bottom: 40px;

}

/* Formats question title */
.question_title {
    font-size: 70px;
    color: white;
    font-family: Roboto;
    background-color: #3b3b3b;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 35px;
}

/* Makes radio buttons invisible */
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

/* Formats label as button */
.radio-toolbar label {
    display: inline-block;
    background-color: #232323;
    width: 700px;
    box-sizing: border-box;
    padding: 15px 20px;
    font-family: Roboto;
    font-size: 50px;
    color: white;
    border: 4px solid #fff;
    border-radius: 50px;

}

/* Sets button appearance when chosen */
.radio-toolbar input[type="radio"]:checked + label {
    background-color:#61bf8a;
    border: 4px solid;
    border-color: #2d9058;
}

/* Sets button appearance when focused on */
.radio-toolbar input[type="radio"]:focus + label {
    border-color: #2d9058;
}

/* Sets button appearance when hovered over */
.radio-toolbar label:hover {
  background-color: #5e5d5d;
}

/* Styles submit button */
.submit_button {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #61bf8a;
    font-size: 50px;
    color: white;
    border: 0px solid;
    border-color: white;
    border-radius: 50px;
    text-transform: uppercase;
}

/* Styles submit button when hovered over */
.submit_button:hover {
    background-color: #2d9058;
}

/* Styles submit button when clicked */
.submit_button:focus {
    background-color: #f9f9f9;
    color: #212121;

}

/* Styles error message */
strong {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}